<%- include('../../layout/header.ejs'); %>

<script>
    
</script>

<%- include('../../layout/navbar.ejs'); %>

<div class="container py-3">
    <div class="row justify-content-center align-items-center">
        <h5 class="col-12 font-semibold text-primary-emphasis" role="button" onclick="window.location.href='/search/page/good-receipt-notes'">
            <label>
                <i class="fa-solid fa-angles-left"></i> <%= title %>
            </label>
        </h5>
    </div>
</div>

<%- include('../../layout/footer'); %>